#gameWorld{
	width: 100%;
	background-color: white;
background: #ff4444; /* Old browsers */
background: -moz-linear-gradient(top,  #ff4444 0%, #ff8935 3%, #ffb938 6%, #719fed 18%, #71ceef 29%, #71ceef 32%, #71ceef 37%, #21b4e2 40%, #21b4e2 40%, #117717 42%, #00a305 75%, #00b214 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4444), color-stop(3%,#ff8935), color-stop(6%,#ffb938), color-stop(18%,#719fed), color-stop(29%,#71ceef), color-stop(32%,#71ceef), color-stop(37%,#71ceef), color-stop(40%,#21b4e2), color-stop(40%,#21b4e2), color-stop(42%,#117717), color-stop(75%,#00a305), color-stop(100%,#00b214)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff4444 0%,#ff8935 3%,#ffb938 6%,#719fed 18%,#71ceef 29%,#71ceef 32%,#71ceef 37%,#21b4e2 40%,#21b4e2 40%,#117717 42%,#00a305 75%,#00b214 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff4444 0%,#ff8935 3%,#ffb938 6%,#719fed 18%,#71ceef 29%,#71ceef 32%,#71ceef 37%,#21b4e2 40%,#21b4e2 40%,#117717 42%,#00a305 75%,#00b214 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff4444 0%,#ff8935 3%,#ffb938 6%,#719fed 18%,#71ceef 29%,#71ceef 32%,#71ceef 37%,#21b4e2 40%,#21b4e2 40%,#117717 42%,#00a305 75%,#00b214 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff4444 0%,#ff8935 3%,#ffb938 6%,#719fed 18%,#71ceef 29%,#71ceef 32%,#71ceef 37%,#21b4e2 40%,#21b4e2 40%,#117717 42%,#00a305 75%,#00b214 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4444', endColorstr='#00b214',GradientType=0 ); /* IE6-9 */







	/*visibility: hidden;*/
}

.character{
	position: fixed;
	width: 75px;
	height: 100px;
	bottom: 40px;
	margin-left: 50px;
	background-image: url('../media/images/yoshiMario.png');
	background-size: 75px 100px;
	background-repeat: no-repeat;
}

.character.flipped{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.platform:nth-of-type(1){
	position: fixed;
	width:200px;
	height: 20px;
	background: yellow;
	display: block;
	bottom: 20px;
}

.platform:nth-of-type(2){
	position: fixed;
	width:200px;
	height: 20px;
	background: yellow;
	display: block;
	margin-left: 250px;
	bottom: 80px;
}

.platform:nth-of-type(3){
	position: fixed;
	width:200px;
	height: 20px;
	background: yellow;
	display: block;
	margin-left: 500px;
	bottom: 160px;
}